[buildout]
parts = aja activate
develop = .
versions =

[activate]
recipe = evg.recipe.activate

[aja]
recipe = zc.recipe.egg
eggs = aja
initialization =
  import aja.tasks
  import fabric.api
  fabric.api.env.update({
      'buildout_directory_prefix': '/var/buildout',
      'buildout_extends_prefix': ''
  })
arguments = aja.tasks.__path__
interpreter = python

[versions]
setuptools =
zc.buildout =
